<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="brand-Math">
                    <a href="#"></a>
                </div>
            </div>
            <div class="col-6 justify-content-end">
                <div class="flexlinks-startpage">
                    <a href="{% url 'startpage' %}" class="sair_btn">Página principal</a>
                    <a href="{% url 'sair_adm' %}" class="sair_btn">Sair</a>    
                </div>
            </div>
        </div>
    </div>
</header>