<div class="header-loggin-form">
    <h2>Confirme seu código</h2>
    <p>Digite abaixo o código de 6 dígitos<br>enviado para o seu e-mail.</p>
</div>
<div class="body-loggin-form">
    <div class="formg_login_first">
        <label for="1">
            <input type="email" class="confirma__code" name="text" maxlength="6" id="1">
        </label>
    </div>
    <div class="formg_login_first btn_inside-form">
        <button onclick="getConfirm('checkcode')" type="submit">Validar código</button>
    </div>
    <span class="content_receiver"></span>
</div>