/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@&@&,,(&&&&&&&&@@&@@@@@@@@@&,,%&&@&&&&@&&@,&,&,@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@#,&%,/&&&###########&@@@@,&&,*&&%///////%&,&,&,/
@@@@@@@@@@@@@@@@@@@@/*@,%&.(@@@&@@@@@@@@@@@@@,&&,&/,&&@@@@@@@@&&,&,,,,,,,,&@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@&,&//&,@@@@@@@@@@@@@@@@@@@,&((&,@@@@@@@@@@@@@&,&,&,/////(/@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@/(#*&,@@@@@@@@@@@@@@@@@@@&,&,&,@@@@@@@@@@@@@@&,&,@,@@@@@@&@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@,&*%/#@@@@@@@@@@@@@@@@@@@@,&,&,@@@@@@@@@@@@@@&,&,&,@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@&((%*&,@@@@@@@@@@@@@@@@@@@@,&,&,@@@@@@@@@@@@@@@,@,&,@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@,&(/@,&@@@@@@@@@@@@@@@@@@,&,&,@@@@@@@@@@@@@@@*%#/&,&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@(,&,#&*,&@@@@@@@@@@@@@@&,&,&,@@@@@@@@@@@@@@@@*(&,&&,%@@&@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@%,%&,,#&&@&&&&&&&&@@@@,&,&,@@@@@@@@@@@@@@@&@@/&,(&&&&@@&@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@&(,,/#%&&&&&&&&&&&&,&,&,@@@@@@@@@@@@@@@@@@&@@(,,#&@&&&&&@@&@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/***
Essenciais
*************/
body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(126deg, #0B061E 45.22%, #010719 85.25%, #020515 123.03%);
}

.brand-Math a:before {
    content: url(../svg/brand.svg);
    display: inline-block;
    width: 200px;
}

.geraltabs-produtos__adm ul {
    border: none;
}

header {
    padding: 25px 0;
}

header .sair_btn {
    padding: 2px 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 10px;
    display: table;
    font-weight: bold;
    color: #ffffff;
    transition: 0.4s ease all;
}

.flexlinks-startpage {
    display: flex;
    justify-content: end;
}

header .sair_btn:hover {
    color: #fe922b;
    transition: 0.4s ease all;
}

.header-allprodcs {
    padding: 20px 0;
}

.header-allprodcs h3 {
    font-weight: 700;
    color: white;
    font-size: 64px;
}

.geraltabs-produtos__adm {
    padding: 30px;
    background: white;
    border-radius: 20px;
}

body:after {
    content: "";
    width: 180px;
    height: 180px;
    border-radius: 1060px;
    background: radial-gradient(50% 50% at 50% 50%, #FE912A 0%, rgba(254, 145, 42, 0.00) 89%);
    filter: blur(40px);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%) scale(3);
}

.geralbuttons-actions a {
    background: linear-gradient(126deg, #0B061E 45.22%, #010719 85.25%, #020515 123.03%);
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 50px;
    border-radius: 100000px;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.4s ease all;
}

.geralbuttons-actions {
    padding: 20px 0 0 0;
}

.geralbuttons-actions a:hover {
    color: white;
    background: linear-gradient(126deg, #0B061E 453.22%, #010719 85.25%, #020515 123.03%);
    transition: 0.4s ease all;
}

.bubble-form {
    padding: 30px;
    background: white;
    border-radius: 20px;
}

.header-formex h2 {
    font-size: 24px;
    font-weight: 700;
    color: #010618;
    margin-bottom: 20px;
}

.formg_math {
    margin-bottom: 20px;
}

.formg_math label h3 {
    font-size: 18px;
    font-weight: 700;
    color: #0F123B;
}

.formg_math label input {
    width: 100%;
    padding: 14px;
    border-radius: 1000px;
    border: 1px solid #878787;
    font-size: 16px;
}

.formg_math label {
    width: 100%;
}

.formg_math.miniform_g span {
    font-weight: bold;
    font-size: 14px;
}

.formg_math.miniform_g {
    width: 19%;
    display: flex;
    flex-flow: wrap;
    margin-right: 1%;
    background: gainsboro;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1%;
}

.formg_math.miniform_g h4 {font-size: 14px;font-weight: bold;width: 100%;display: inline-block;color: #1a1f37;}

.formg_math.miniform_g label {
    width: 47%;
    margin-right: 3%;
}

.formg_math.miniform_g input {
    border-radius: 10000px;
    padding: 5px;
}

.formg_math.miniform_g label span {
    font-size: 12px;
    display: inline-block;
    line-height: 14px;
    margin-bottom: 10px;
}

.formg_math select {
    width: 100%;
    padding: 15px;
    border-radius: 10000px;
    border: 1px solid #878787;
}

.formg_math input[type="submit"] {
    font-weight: 600;
    background: #fe922b;
    color: white;
    border: none;
    border-radius: 10000px;
    padding: 15px 40px;
}

div.bubble_message div {
    margin-top: 20px;
    display: inline-block;
    padding: 15px 50px;
    font-weight: 600;
    border-radius: 10px;
}

.success-message {
    background: #c5ffc5;
    color: #195019;
    border: 1px solid #195019;
}

.error-message {
    background: #ffd7d7;
    color: red;
    border: 1px solid red;
}

select.disabled_unidadefield {
    opacity: 0.4;
    background: #bdbdbd;
    transition: 0.4s ease all;
    cursor: none;
    pointer-events: none;
}

.disabled_opt{
    display:none;
}

div#centraladm-content .bubble-form .nav-item button {
    border: 1px solid #939393;
    background: #eeeeee;
    color: black;
    font-size: 14px;
    padding: 10px 40px;
    font-weight: 600;
    border-bottom: none;
    margin-right: 5px;
}

div#centraladm-content .bubble-form .nav-item button.active {
    background: #fe922b;
    color: white;
    border: 1px solid #b46011;
}

div#myTabContent {
    padding: 30px;
    border: 1px solid #939393;
    border-radius: 0 20px 20px 20px;
}

.header-table_adm h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
    color: #030619;
}

.table_actions_adm table thead td {
    background: #fe922b;
    color: white;
    font-weight: bold;
    padding: 20px;
    border: 1px solid;
}

.unicatable_adm {
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.table_actions_adm table tbody td {
    background: #efefef;
    border: none;
    padding: 15px;
    font-weight: 600;
}

.table_actions_adm table tbody td a {
    color: black;
    font-size: 14px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.grandex-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: none;
    backdrop-filter: blur(5px);
}

.centralmodal-edit {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.blocmodal-edit {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.headermodal-edit {
    position: absolute;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: end;
}

.headermodal-edit button {
    width: 60px;
    height: 60px;
    border-radius: 1000px;
    border: none;
    background: #fe922b;
    color: white;
    margin: -15px;
}

.body-modax {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #959595;
    box-shadow: 0 0 20px 7px rgb(0 0 0 / 11%);
}

.minimodal {
    padding: 60px 40px 40px 40px;
}

.formg_math label label {
    display: flex;
}

.formg_math label label input {
    width: auto;
    margin-right: 5px;
}

.actionen_ svg {
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

.actionen_ {
    opacity: 0;
    transition: 0.3s ease all;
}


.actionen_.active_action{
    opacity: 1;
    transition: 0.3s ease all;
}

.loadermini-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255 255 255 / 59%);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: none;
}

.centerload-erminimodal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.centerload-erminimodal svg {
    width: 100px;
    height: 100px;
}

.sucesso-modal h2 {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

.sucesso-modal {
    display: none;
}